<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<style type="text/css">
#maps-container {
	width: 500px;
	height: 500px;
}

#map {
	width: 300px;
	height: 300px;
}
</style>


<script th:inline="javascript">

	//팝업창 띄우기 
	function findTouristSpot(tourist_Spot_id) {
	    console.log(tourist_Spot_id);
		//window.open(`RestaurantInfo?restaurant_id=${restaurant_id}`, 'Popup', 'width=1000,height=1000');
	}

	//th:onclick="|deleteImg('${file.IMG_ID}', ${fileStat.index})|"
	//th:onclick="|findRestaurant('${file.IMG_ID}'})|"
</script>

</head>
<body>
	<div id="container">
		<h1>[ 부산 명소 리스트 ]</h1>


		<div class="row">
			<div class="col-md-4 mb-4"
				th:each="tourist, touristStat: ${findAllTourist}">
				<a href="#" class="tourlist-spot-images-container"
					th:data-tourist="${tourist}"> <img
					th:src="@{${tourist.main_img_normal}}" alt="임시이미지4"
					class="tourlist-spot-images"
					th:onclick="|location.href='/tourist_Spot/TouristInfo?tourist_Spot_id=${tourist.tourist_Spot_id}'|">
			<!-- 	th:onclick="|findRestaurant('${restaurant.restaurant_id}')|"> -->
					<div class="tourlist-spot-images-place">
						<h3 class="tourlist-spot-images-place"
							th:text="${tourist.main_title}"></h3>
					</div>
				</a>
			</div>
		</div>
	</div>

</body>
</html>