<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<style type="text/css">
#maps-container {
	width: 500px;
	height: 500px;
}

#map {
	width: 300px;
	height: 300px;
}
</style>


<script th:inline="javascript">

	
</script>

</head>
<body>
	<div id="container">
		<h1>[ 내 찜 리스트 ]</h1>
			
		<div class="row">
			<div class="col-md-4 mb-4"
				th:each="tourist, touristStat: ${findAllTourist}">
				<a href="#" class="tourlist-spot-images-container"
					th:data-tourist="${tourist}"> <img
					th:src="@{${tourist.main_img_normal}}" alt="임시이미지4"
					class="tourlist-spot-images"
					th:onclick="|location.href='/tourist_Spot/TouristInfo?tourist_Spot_id=${tourist.tourist_Spot_id}'|">
					<div class="tourlist-spot-images-place">
						<h3 class="tourlist-spot-images-place"
							th:text="${tourist.main_title}"></h3>
					</div>
				</a>
			</div>
		</div>	
			

		  <input type="button" onclick="location.href='/review/myReviewList'" value="내 리뷰 목록">
          <input type="button" onclick="location.href='/member/likeList'" value="찜 목록">
          <input type="button" onclick="location.href='/member/myPage'" value="내 댓글 목록">
	</div>

</body>
</html>